/gen-cache
/logs
/scion-testnet
/test-client
/test-server
/topos/default/*/certs
/topos/default/*/crypto
/topos/default/*/keys
/topos/default/*/trcs
/topos/default/certs
/topos/default/trcs
/topos/tiny4/*/certs
/topos/tiny4/*/crypto
/topos/tiny4/*/keys
/topos/tiny4/*/trcs
/topos/tiny4/certs
/topos/tiny4/trcs
